
/* universal selector aply to all elements without inherited*/
*[b-7rls8y6kev] {
    /* border-top: 10px solid #1098ad; */
    margin: 0;
    padding: 0;
    /* box-sizing isnt inherited so we cant put it in body selector */
    box-sizing: border-box;
}

body[b-7rls8y6kev] {
    background: linear-gradient(to bottom, rgb(17, 129, 227), darkblue);
    color: #c5fff8;
}

.discount[b-7rls8y6kev] {
    height: 1%;
}

    .discount p[b-7rls8y6kev] {
        text-align: center;
    }

.container[b-7rls8y6kev] {
    width: 100%;
    margin: 0 auto;
}

/* COLORS & Size */
.main-header[b-7rls8y6kev] {
    background-color: #5fbdff;
}

.first-name[b-7rls8y6kev] {
    color: #c5fff8;
    font-size: 45px;
    text-transform: uppercase;
    font-style: italic;
}
    .first-name[b-7rls8y6kev]::first-letter {
        font-style: normal;
        margin-right: 3%;
    }

.second-name[b-7rls8y6kev] {
    color: #c5fff8;
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
}

.search-panel[b-7rls8y6kev] {
    background-color: #7b66ff;
    border-radius: 10%;
}

header nav[b-7rls8y6kev] {
    text-align: right;
}

.sign-in[b-7rls8y6kev]::first-letter {
    font-size: 25px;
    margin-right: 3%;
}

.basket[b-7rls8y6kev]::first-letter {
    font-size: 25px;
    margin-right: 3%;
}

.accesories[b-7rls8y6kev] {
    font-size: 20px;
}

.benefits[b-7rls8y6kev] {
    background-color: #5fbdff;
    color: #c5fff8;
}

.benefits-anchor-picture[b-7rls8y6kev] {
    width: 20%;
    height: auto;
}

.benefits-desc[b-7rls8y6kev] {
    width: 40%;
    height: auto;
}

.products[b-7rls8y6kev] {
    background-color: #7b66ff;
}

.delivery[b-7rls8y6kev] {
    background-color: #7b66ff;
}

.loyalty-program[b-7rls8y6kev] {
    background-color: #7b66ff;
}

.client[b-7rls8y6kev] {
    background-color: #7b66ff;
}

.history[b-7rls8y6kev] {
    color: #c5fff8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: #5fbdff;
    text-align: center;
}

.experience[b-7rls8y6kev] {
    color: #c5fff8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: #5fbdff;
    padding: 1% 15%;
    border-radius: 20px;
}

.newsletter[b-7rls8y6kev] {
    color: #c5fff8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #5fbdff;
}

.wiadomosc[b-7rls8y6kev] {
    font-size: 15px;
}

.sign-in[b-7rls8y6kev] {
    margin-top: 1%;
}

.social-media[b-7rls8y6kev] {
    position: fixed;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    bottom: 5%;
    left: -2%;
}

    .social-media p[b-7rls8y6kev] {
        font-size: 15px;
    }
/* SMALLER ELEMENTS */

nav a:link[b-7rls8y6kev] {
    display: inline-block;
    /* inline-block keeps adventages(features) of both types of the element*/
    /* anchor element is an inline element margin top/bottom wont work. Padding too*/
}

.accesories a:link[b-7rls8y6kev] {
    display: inline-block;
}

header p[b-7rls8y6kev] {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p[b-7rls8y6kev] {
    margin-bottom: 2%;
}

.shop-info[b-7rls8y6kev] {
    color: #c5fff8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

    .shop-info[b-7rls8y6kev]::first-letter {
        font-family: "Courier New", Courier, monospace;
        font-size: 50px;
        font-weight: bold;
        color: #c5fff8;
    }

header button[b-7rls8y6kev] {
    padding: 5%;
    background-color: darkblue;
    border: outset;
    border-color: yellow;
    border-radius: 25px;
    color: #c5fff8;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    header button:hover[b-7rls8y6kev] {
        color: black;
        background-color: #5fbdff;
    }

h1[b-7rls8y6kev],
h2[b-7rls8y6kev],
h3[b-7rls8y6kev],
h4[b-7rls8y6kev],
p[b-7rls8y6kev],
li[b-7rls8y6kev] {
    font-family: sans-serif;
}

h2[b-7rls8y6kev] {
    color: #c5fff8;
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
}

h3[b-7rls8y6kev] {
    font-size: 30px;
}

h4[b-7rls8y6kev] {
    font-size: 20px;
    text-transform: uppercase;
}

article header p[b-7rls8y6kev] {
    font-style: italic;
}

ul[b-7rls8y6kev] {
    list-style: none;
}

/* social media BUTTONS */
.fa[b-7rls8y6kev] {
    padding: 25%;
    font-size: 70px;
    width: 100%;
    height: 80%;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}

    .fa:hover[b-7rls8y6kev] {
        text-decoration: none;
        opacity: 0.7;
    }

.fa-facebook[b-7rls8y6kev] {
    background: #3b5998;
    color: white;
}

.fa-twitter[b-7rls8y6kev] {
    background: #55acee;
    color: white;
}

.fa-youtube[b-7rls8y6kev] {
    background: rgb(144, 25, 7);
    color: white;
}

/* Styling links in right order --->   (LVHA) */
.anchors[b-7rls8y6kev] {
    padding: 2% 4%;
    color: #c5fff8;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    background-color: #7b66ff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .anchors:hover[b-7rls8y6kev] {
        color: #000;
        background-color: #c5fff8;
    }

.header-anchor[b-7rls8y6kev] {
    padding: 25% 20%;
    color: #c5fff8;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: #7b66ff;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

    .header-anchor:hover[b-7rls8y6kev] {
        color: #000;
        background-color: #c5fff8;
    }

.other-anchors[b-7rls8y6kev] {
    padding: 0.2% 3%;
    color: #c5fff8;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    background-color: #7b66ff;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

    .other-anchors:hover[b-7rls8y6kev] {
        color: #000;
        background-color: #c5fff8;
    }

.services a[b-7rls8y6kev]::first-letter {
    font-size: 20px;
    margin-right: 2px;
}

.accesories a:link[b-7rls8y6kev] {
    color: #96efff;
    text-decoration: none;
}

.accesories a:visited[b-7rls8y6kev] {
    color: #96efff;
}

.accesories a:hover[b-7rls8y6kev] {
    color: #c5fff8;
    font-weight: bold;
    /* text-decoration: underline wavy darkblue; */
}

.accesories a:active[b-7rls8y6kev] {
    background-color: #7b66ff;
    font-style: italic;
}
/* order: id/class/elements pseudoclass have the highest priority than elements without it */
/* important keyword !important should not using usually */
.accesories a:link[b-7rls8y6kev] {
    font-size: 18px;
}

.arrangement a[b-7rls8y6kev] {
    padding: 1% 3%;
    color: #c5fff8;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    background-color: #5fbdff;
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s ease;
}

    .arrangement a:hover[b-7rls8y6kev] {
        color: #000;
        background-color: #c5fff8;
    }
/* BUTTON */
.add-cart[b-7rls8y6kev] {
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

    .add-cart:hover[b-7rls8y6kev] {
        color: #000;
        background-color: #fff;
    }

.message-button[b-7rls8y6kev] {
    font-size: 15px;
    padding: 1%;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 2%;
    /* nice color change */
    transition: background-color 0.3s ease;
}

.open-hours[b-7rls8y6kev] {
    text-align: center;
    width: 100%;
}

    .open-hours p[b-7rls8y6kev],
    h2[b-7rls8y6kev] {
        margin-bottom: 1%;
    }

.table-hours[b-7rls8y6kev] {
    width: 100%;
    padding: 1% 2%;
    color: lightblue;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
    background-color: #3498db;
    background-color: darkblue;
    border: outset;
    border-color: #777;
    text-align: center;
}

.bestseller-name[b-7rls8y6kev] {
    margin-bottom: 2%;
    font-size: 20px;
    font-style: italic;
}

.bestseller-price[b-7rls8y6kev] {
    margin-bottom: 3%;
    font-size: 25px;
    font-weight: bold;
}

#brand-div[b-7rls8y6kev] {
    display: none;
    visibility: hidden;
}

.form-input[b-7rls8y6kev] {
    font-size: 16px;
    width: 100%;
    padding: 4%;
    margin-bottom: 3%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.register-form h1[b-7rls8y6kev] {
    font-size: 25px;
}

.header-input[b-7rls8y6kev] {
    font-size: 16px;
    width: 60%;
    padding: 2%;
    margin-top: 6%;
    margin-bottom: 6%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-picture[b-7rls8y6kev] {
    width: 50%;
    height: 50%;
}

.basket-items[b-7rls8y6kev] {
    border-style: none;
    border-radius: 10px;
    text-align: center;
    margin-left: 15%;
    background-color: #c5fff8;
    width: 70%;
}

.login-picture[b-7rls8y6kev] {
    width: 20%;
    height: 20%;
}

.register-form[b-7rls8y6kev] {
    width: 80%;
    text-align: center;
}
/* margin top or margin bottom (better choose one to style between elements) */
/* colapsing margins (margin bottom and margin top wont sum up the space between will be one of the values which is highest */

/* FLEXBOX */
/* Main Header */
.main-header[b-7rls8y6kev] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.shop-name[b-7rls8y6kev] {
    flex: 0 1 26%;
}

.search-panel[b-7rls8y6kev] {
    flex: 1 0 22%;
}

header nav[b-7rls8y6kev] {
    flex: 0 1 14%;
}

.sign-in[b-7rls8y6kev] {
    flex: 0 1 19%;
}

.basket[b-7rls8y6kev] {
    flex: 0 1 19%;
}
/*Article */
.accesories[b-7rls8y6kev] {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.products[b-7rls8y6kev] {
    display: flex;
    gap: 15%;
    justify-content: center;
    align-items: center;
}

.delivery[b-7rls8y6kev] {
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
}

.loyalty-program[b-7rls8y6kev] {
    display: flex;
    gap: 15%;
    justify-content: center;
    align-items: center;
}

.client[b-7rls8y6kev] {
    display: flex;
    gap: 15%;
    justify-content: center;
    align-items: center;
}

.anchor-links[b-7rls8y6kev] {
    color: #96efff;
    text-decoration: none;
}

.anchor-links[b-7rls8y6kev] {
    color: #96efff;
}

    .anchor-links:hover[b-7rls8y6kev] {
        color: #c5fff8;
        font-weight: bold;
        /* text-decoration: underline wavy darkblue; */
    }

    .anchor-links:active[b-7rls8y6kev] {
        background-color: #7b66ff;
        font-style: italic;
    }

    /* order: id/class/elements pseudoclass have the highest priority than elements without it */
    /* important keyword !important should not using usually */
    .anchor-links:link[b-7rls8y6kev] {
        font-size: 18px;
    }

.discount[b-7rls8y6kev] {
    display: flex;
    justify-content: center;
}

#countdown[b-7rls8y6kev] {
    font-size: 16px;
    margin-top: 3px;
    margin-left: 5px;
}
/* .parallax-layer {
  flex: 0 1 auto;
} */

/*
DEFAULTS:
flex-grow:0;
flex-shrink:1;
flex-basis:auto; 
flex: grow shrink basis;
flex: 1; for example the last element fill the max space
 */

/* CSS GRID */

.benefits[b-7rls8y6kev] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2%;
    row-gap: 5%;
    justify-content: center;
    align-content: center;
}

.social-media[b-7rls8y6kev] {
    display: grid;
    grid-template-columns: 25% 15%;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 15%;
    row-gap: 15%;
    justify-content: center;
    align-content: center;
}

    .social-media a[b-7rls8y6kev] {
    }

footer[b-7rls8y6kev] {
    display: grid;
    row-gap: 20%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.troubles-bar[b-7rls8y6kev] {
    justify-self: start;
}

.contact-info[b-7rls8y6kev] {
    justify-self: end;
}

.copywrite[b-7rls8y6kev] {
    grid-column: 1 / -1;
}

.bestseller[b-7rls8y6kev] {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    row-gap: 2%;
    align-items: center;
}

.first-best[b-7rls8y6kev] {
    background-color: #c5fff8;
    text-align: center;
    color: #000;
}

.second-best[b-7rls8y6kev] {
    background-color: #c5fff8;
    text-align: center;
    color: #000;
}

.third-best[b-7rls8y6kev] {
    background-color: #c5fff8;
    text-align: center;
    color: #000;
}

.fourth-best[b-7rls8y6kev] {
    background-color: #c5fff8;
    text-align: center;
    color: #000;
}
/*CSS GRID FOR ALL WEBSITE */

.container[b-7rls8y6kev] {
    display: grid;
    grid-template-rows: 30% 90% 1fr;
    grid-template-columns: 80%;
    justify-content: center;
    row-gap: 0%;
}

header[b-7rls8y6kev] {
    grid-column: 1 / -1;
}

article[b-7rls8y6kev] {
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-template-columns: 1fr;
    background-color: #5fbdff;
    column-gap: 4%;
    row-gap: 3%;
}

.register-form[b-7rls8y6kev] {
    justify-self: center;
    width: 50%;
    grid-column: 1/-1;
}

.forgot-password[b-7rls8y6kev] {
    justify-self: center;
    width: 100%;
}

.accesories[b-7rls8y6kev] {
    background-color: #7b66ff;
}

#frame[b-7rls8y6kev] {
    background-color: #c5fff8;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}

.benefits[b-7rls8y6kev] {
    grid-column: 1 / -1;
}

.experience[b-7rls8y6kev] {
    text-align: center;
    align-self: center;
    justify-self: center;
}

.newsletter[b-7rls8y6kev] {
    align-self: center;
}

.history[b-7rls8y6kev] {
    align-self: center;
}

#slideout[b-7rls8y6kev] {
    background: #dbe2e9;
    color: #333;
    text-align: center;
    width: 20%;
    font-size: 20px;
    background-color: #c5fff8;
    border-radius: 20px;
    position: fixed;
    bottom: 33%;
    right: -20%;
    width: 20%;
    height: 65%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    #slideout form[b-7rls8y6kev] {
        display: block;
        padding: 7%;
    }

    #slideout textarea[b-7rls8y6kev] {
        display: block;
        height: 80px;
        margin-bottom: 1%;
        width: 100%;
    }

    #slideout.on[b-7rls8y6kev] {
        right: 0;
    }

.form-button[b-7rls8y6kev] {
    padding: 3% 7%;
    color: lightblue;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    background-color: #3498db;
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s ease;
}

    .form-button:hover[b-7rls8y6kev] {
        color: #000;
        background-color: #fff;
    }
